* {
    font-family: Arial;
    font-size: 18px;
    padding: 0px;
}

.fanme, .email, .signup-button {
    display: block;
}

.fname, .lname {
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    border-color: rgba(0, 0, 0, 0.15)
}

.email {
    padding: 10px 256px 10px 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    border-color: rgba(0, 0, 0, 0.15)
}

.signup-button {
    border: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px 411px 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}