.back-button {
    border-width: 1px;
    border-radius: 2px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    margin-left: 8px;
}

.next-button {
    border-width: 1px;
    border-radius: 2px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    margin-left: 8px;
}

.stretch-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    margin-left: 8px;
    transition: padding 1s;
}

.stretch-button:hover {
    padding: 20px 32px 20px 32px;
}

.stretch-button:active {
    opacity: 0.8;
}

.shadow-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    /* margin-left: 8px; */
    box-shadow: 4px 4px 0px rgb(0, 101, 0);
}

.shadow-button:active {
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: none;
}

.expand-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    padding: 10px 16px 10px 16px;
    margin-left: 10px;
    margin-right: 10px;
    
    transition: padding 0.15s, margin 0.15s;
}

.expand-button:hover {
    padding: 10px 25px 10px 25px;
    margin-left: 0px;
    margin-right: 0px;
}