p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price {
    font-size: 32px;
    margin-bottom: 5px;
}

.currency {
    font-size: 16px;
    color: rgb(100, 100, 100);
}

.change {
    color: green;
    margin-bottom: 5px;
}

.after-hours {
    color: grey;
}

.after-hours-change {
    color: red;
}